<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet orci malesuada, placerat mi non, accumsan erat. Donec viverra convallis suscipit. Sed tincidunt consectetur magna, ut dictum felis commodo ut. Fusce eu arcu lacus. Maecenas eu sollicitudin enim, eu consectetur quam. Suspendisse ornare quam eget nisi semper, a pulvinar purus luctus. Curabitur nisl nunc, pellentesque ut purus vehicula, faucibus dapibus urna. Morbi at dapibus mi. Quisque lobortis ac nunc eu porttitor. Nullam elementum in quam ut cursus. Maecenas maximus faucibus lacus, eget mollis tellus malesuada eu. Fusce ultricies turpis quis tristique sollicitudin. Sed feugiat semper elementum.
</p>

<p class="animated fadeIn">
  Suspendisse pharetra rhoncus purus ac sagittis. Proin dignissim at tortor sed suscipit. Suspendisse et commodo justo. Aliquam lorem orci, rutrum eget viverra in, efficitur efficitur odio. Sed at scelerisque velit. Sed dignissim cursus risus eget venenatis. Nam bibendum porttitor nunc, in commodo ante efficitur non. Cras at velit tristique, varius ex a, mollis purus. Sed pellentesque augue vel nunc interdum, non dictum purus hendrerit. Fusce hendrerit diam at nulla ultricies ultricies. Integer ac lorem a purus pellentesque aliquam at nec ex.
</p>

<p class="animated fadeIn">
  Aliquam fermentum lacinia justo, ut faucibus lorem elementum pellentesque. Praesent vestibulum ultricies neque sit amet venenatis. Praesent quis massa luctus, feugiat est vitae, aliquet ipsum. Mauris ultricies porttitor neque id pretium. Mauris aliquam ut lectus eget tristique. Nam blandit ut lectus id pretium. Integer ligula diam, pellentesque eu lobortis eget, convallis a nibh. Praesent efficitur leo ut elit commodo, vitae cursus mauris viverra. Fusce interdum purus lacinia, vestibulum ex vel, ultrices massa. Duis finibus viverra justo.
</p>

<p class="animated fadeIn">
  Fusce nunc orci, imperdiet quis venenatis eu, facilisis congue enim. Nunc interdum tempus nunc, ut bibendum lorem euismod eu. Nam in ornare tellus. Curabitur iaculis mollis justo vel eleifend. Nunc at magna rutrum, semper enim consectetur, pharetra diam. Donec pharetra maximus mauris vel eleifend. Proin vitae ex elit. Duis ultrices sapien vel fringilla finibus. Cras pharetra consequat orci eget convallis.
</p>

<p class="animated fadeIn">
  Donec velit purus, ornare at laoreet ut, egestas nec tortor. In hendrerit dui eget varius pellentesque. Aenean ultricies, diam nec iaculis finibus, est elit ultricies neque, ultrices iaculis ipsum ex et sapien. Suspendisse nec blandit lacus. Fusce hendrerit ipsum vel cursus faucibus. Nunc fringilla sem sed lectus aliquam, vitae condimentum turpis semper. Aenean semper, sem nec dignissim tempor, nisl nulla mollis nibh, nec venenatis diam ex ut ante. Aliquam erat volutpat. Nullam at quam sit amet libero fermentum scelerisque nec a elit. Nulla blandit, mi vel ornare aliquet, leo ligula egestas nisl, sit amet malesuada mauris eros non dui. Aenean euismod orci at malesuada suscipit. Donec blandit sem a maximus ultricies. Donec et semper libero. Vestibulum id nisl tristique, tempor erat tincidunt, tempus quam. Nam ullamcorper elit purus, sit amet euismod eros venenatis sit amet. Ut eu tortor id lacus hendrerit commodo eu eu justo.
</p>
